In [32]:
import pandas as pd

In [33]:
# eg. syntax in pandas
# pd.DataFrame()
# pd.pivot_table()

## create dataframe form scratch

raw_data = {
    "name" : ["Toy", "Joe", "Marry", "John", "Anna"],
    "age" : [33, 25, 20, 22, 31],
    "gender" : ["M", "M", "F", "M", "F"]
}

df = pd.DataFrame(raw_data)

df

,name,age,gender
0,Toy,33,M
1,Joe,25,M
2,Marry,20,F
3,John,22,M
4,Anna,31,F

In [34]:
df['city'] = 'London'

In [35]:
df

,name,age,gender,city
0,Toy,33,M,London
1,Joe,25,M,London
2,Marry,20,F,London
3,John,22,M,London
4,Anna,31,F,London

In [36]:
df['city'] = ['London', 'London', 'London', 'Manchester', 'Liverpool']

In [37]:
df

,name,age,gender,city
0,Toy,33,M,London
1,Joe,25,M,London
2,Marry,20,F,London
3,John,22,M,Manchester
4,Anna,31,F,Liverpool

In [38]:
df.shape # attribute of dataframe row, column

(5, 4)

In [39]:
# drop column city
df = df.drop(labels='city', axis=1)

In [40]:
# remove row index = 2
df = df.drop(labels=2, axis=0)

In [41]:
df

,name,age,gender
0,Toy,33,M
1,Joe,25,M
3,John,22,M
4,Anna,31,F

In [42]:
# reset index
df = df.reset_index(drop=True)

In [43]:
df

,name,age,gender
0,Toy,33,M
1,Joe,25,M
2,John,22,M
3,Anna,31,F

In [44]:
# view attribute column name
list(df.columns)

['name', 'age', 'gender']

In [45]:
# rename columns
df.columns = ['nickname', 'age', 'sex']
df

,nickname,age,sex
0,Toy,33,M
1,Joe,25,M
2,John,22,M
3,Anna,31,F

In [46]:
## series vs dataframe
df['nickname']

In [47]:
type(df['nickname'])

pandas.core.series.Series

In [48]:
type(df)

pandas.core.frame.DataFrame

In [49]:
## create a new series
s1 = pd.Series(['Marry', 20, 'F'], index=['nickname', 'age', 'sex'])
print(s1)
print(type(s1))

nickname    Marry
age            20
sex             F
dtype: object
<class 'pandas.core.series.Series'>

In [50]:
df

,nickname,age,sex
0,Toy,33,M
1,Joe,25,M
2,John,22,M
3,Anna,31,F

In [51]:
## append series
df = pd.concat([df, pd.DataFrame([s1])], ignore_index=True)

In [52]:
df

,nickname,age,sex
0,Toy,33,M
1,Joe,25,M
2,John,22,M
3,Anna,31,F
4,Marry,20,F

In [53]:
s2 = pd.Series(['London', 'London', 'London', 'Manchester', 'Liverpool'])
df['city'] = s2
df

,nickname,age,sex,city
0,Toy,33,M,London
1,Joe,25,M,London
2,John,22,M,London
3,Anna,31,F,Manchester
4,Marry,20,F,Liverpool

In [56]:
# write datafeame to csv
df.to_csv("my_export_data.csv")

In [57]:
# reade csv to dataframe
df2 = pd.read_csv("data/data.csv")

FileNotFoundError: FileNotFoundError: [Errno 2] No such file or directory: 'data/data.csv'